{% extends "base.html" %}

{% block content %}
    <h1>Post New Research Position</h1>
    {% if form %}
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <div>
                <!--All complete-->
                <!-- TODO: (milestone1) Include the form item for `happiness_level` selection. Apply appropriate styling for the `happiness_level` form item.  -->
                <!--Displays the form item for the post's `title`.-->
                {{ form.title.label }}<br>
                {{ form.title(class="formtitle") }}<br>
                <!-- TODO: (milestone 1) Display the error messages of the `title` field validator (if there are any validation errors).   -->
                {% for error in form.title.errors %}
                <span style="color: red">[{{ error }}]</span>
                {% endfor %}
                <!-- TODO: (milestone 1) Include the form item for the post's `body`. Apply appropriate styling for the `body`form  item.  -->
                {{ form.researchDesc.label }}<br>
                {{ form.researchDesc(class="formbody") }}<br>
                <!-- TODO: (milestone 1) Display the error messages of the `body` field validator (if there are any validation errors).   -->
                {% for error in form.researchDesc.errors %}
                <span style="color: red">[{{ error }}]</span>
                {% endfor %}



                {{form.researchFields.label}}
                {{form.researchFields(class="CheckBoxInput")}}




                {{ form.requiredQualifications.label }}<br>
                {{ form.requiredQualifications(class="formbody") }}<br>
                <!-- TODO: (milestone 1) Display the error messages of the `body` field validator (if there are any validation errors).   -->
                {% for error in form.requiredQualifications.errors %}
                <span style="color: red">[{{ error }}]</span>
                {% endfor %}


                {{ form.startDate.label }}<br>
                {{ form.startDate(class="formtitle") }}<br>



                {% for error in form.startDate.errors %}
                <span style="color: red">[{{ error }}]</span>
                {% endfor %}


                {{ form.endDate.label }}<br>
                {{ form.endDate(class="formtitle") }}




                <!-- TODO: (milestone 1) Display the error messages of the `body` field validator (if there are any validation errors).   -->
                {% for error in form.endDate.errors %}
                <span style="color: red">[{{ error }}]</span>
                {% endfor %}



            </div>
            
                <!-- TODO: (milestone1) Include the form item for the post's `body`. Apply appropriate styling for the `body`form  item.  -->  
            
            <!-- TODO: (milestone1) Include the form item for `happiness_level` selection. Apply appropriate styling for the `happiness_level` form item.  -->  
                {{ form.requiredHours.label }}<br>
                {{ form.requiredHours(class="formselect") }}<br>
            
                
            
            <!-- TODO: (milestone2) Include the form item for `tag` selection.   -->  
            <!--
            -->
            {{ form.submit(class="button") }}
        </form>
    {% endif %}
  {% endblock %}