<table class="posttable" style="width:100%" valign="top">

    <td colspan="3">
        <div class="posttitle"> {{position.title}} </div>
    </td>
    </tr>
    <tr>
        <td width="10%">
            <!--  (milestone1) TODO: include happiness-level image according to the `cost`s happiness_level .
            For example : <img src="{{ url_for('static', filename = 'img//happiness-level-1.png' )}}"-->

        </td>

        <td width="80%">
            <div>
                <!-- (milestone1) TODO: include post body -->
                {{position.researchDesc}}
            </div>


            <div>
                <!-- (milestone1) TODO: include post body -->
                {{position.requiredHours}} Hours a Week
            </div>

            <div>
                {{position.researchFields}}
            </div>

            <div>
            </div>

            <div>
                The post is created by:  <span class="useritem">{{current_user.username}}
            </div>



        </td>
</table>