{% extends "base.html" %}

{% block content %}
    <h1>Student Sign In</h1>
    <!-- TODO: (milestone 3) Include the template for "login form" here...  -->
    {% if form %}
        <form action="" method = "POST">
            {{ form.hidden_tag() }}

            {{ form.username.label }}<br>
            {{ form.username(class="forminput") }}<br>
            <br>
            {{ form.password.label }}<br>
            {{ form.password(class="forminput") }}<br>

            <!--form.loginasfaculty.label-->
            <!--{{ form.isfaculty.label }}<br>-->
            <!--{{ form.isfaculty(class="container") }}<br>-->

            <!--{{ form.remember.label }}<br>-->
            <!--{{ form.remember(class="container") }}<br>-->

            {{form.submit(class="button") }}
            <br>               
        </form>
    {%endif%}
    <!-- TODO: (milestone 3) Add the URL for user register route. --> 
    <p>New Student? <a href="{{url_for('auth.register')}}">Click to Register!</a></p>
{% endblock %}
