{% extends "base.html" %}

{% block content %}

<h1>Research Position Information View</h1>

<div class="postmessage">

    <p> Title: <b> {{positions.title}} </b></p>
    <p> Research Description: <b> {{positions.researchDesc}} </b></p>
    <p> Required Hours: <b> {{positions.requiredHours}} </b></p>
    <p> Start Date: <b> {{ moment(positions.startDate).format('LL') }} </b></p>
    <p> End Date: <b> {{ moment(positions.endDate).format('LL') }} </b></p>
    <p> Research Fields: <b>{%for fields in positions.researchFields%}
        {{fields}}
        {%endfor%} </b></p>
    <p> Posted at: <b> {{ moment(positions.timestamp).format('LLL') }} </b></p>
    <p> The Position is created by: <b> <span class="useritem">{{positions.facultyName}} </b></p>

    <form action="{{ url_for('routes.deletePos', currentResearch_id = positions.id )}}" method="get">
        <input type="submit" value="Delete Application"/>
    </form>
    

    <p>All Student Applicants:</p>

    {% for apps in applicants %}

    <form action="{{ url_for('routes.viewApplication', application_id = apps.id )}}" method="get">
        <input type="submit" value={{apps.name}} />
    </form>

    {% endfor %}


</div>






{% endblock %}